:root{
  --bs-body-font-family:'inter',sans-serif
}
.active-link
{
    background-color: #308747;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border:solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 30px;
}
.active-link:hover
{
    color: white;
}

.low-padding{
  width: 15rem;
}
.non-active{
    color: #308747;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3ms;
    border:solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 30px;
}

.non-active:hover{
    background-color: #308747;
    color: white;
}

.unchecked-step{
  color: #fff;
  background-color: #F0343C;
  text-decoration: none;
  transition: 0.3ms;
  border:solid;
  border-width: 1px;
}

.unchecked-step:hover{
  color: #fff;
  background-color: #F0343C;
  text-decoration: none;
  transition: 0.3ms;
  border:solid;
  border-width: 1px;
}

.checked-step{
  background: #C3E3CC;
  color: #308747;
}
.checked-step:hover{
  background: #C3E3CC;
  color: #308747;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .color-svg{
    color: #308747;
  }
  .rotation{
    transform: rotate(-45deg);
  }
  .tools-event{
    background: rgba(255, 255, 255, 0.54); 
    width: 50px;
    height: 50px;
  }
  .badge-tool{
    background: rgba(255, 255, 255); 
    width: 50px;
    height: 50px;
  }

  .card {
    position: relative;
}

.gradient-overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    pointer-events: none; /* Allows interaction with elements behind the overlay */
}

.card-header,
.card-body,
.card-footer {
    position: relative;
    z-index: 2;
}
.custum-file-upload {
    position: relative;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour masquer le contenu dépassant */

    /* Ajout d'une classe pour l'overlay noir transparent */
    background: url('') center center no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.custum-file-upload:hover {
  position: relative;
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Pour masquer le contenu dépassant */

  /* Ajout d'une classe pour l'overlay noir transparent */
  background: url('') center center no-repeat;
  background-size: cover;
}
/* Nouvelle classe pour l'overlay */
.custum-file-upload::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Noir transparent */
    z-index: 1; /* Pour placer l'overlay au-dessus du contenu */
}

.custum-file-upload .icon {
    position: relative; /* Pour définir le contexte d'empilement pour l'icône */
    z-index: 2; /* Pour placer l'icône au-dessus de l'overlay */
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(255, 255, 255, 1);
}

.custum-file-upload .text {
    position: absolute;
    top: 20px; /* Ajuster la position du texte par rapport au haut */
    z-index: 2; /* Pour placer le contenu au-dessus de l'overlay */

}
.custum-file-upload .text .edit-text {
  display: block;
  font-size: 12px;
  color: #666;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(255, 255, 255, 1); /* Couleur blanche pour le texte */
}

.custum-file-upload input {
    display: none;
}


/* .custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #fff;
  color: #000;
  padding: 10px;
  cursor: pointer;
}
.custom-file-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
} */

.steps{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between	;
}

.checking-step{
  background-color: #FBAA0A;
  border: #FBAA0A;
  color: #fff;
}
.checking-step:hover{
  background-color: #FBAA0A;
  border: #FBAA0A;
  color: #fff;
}
.steps .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border: 4px solid #e0e0e0;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: all 200ms ease;
  transition-delay: 0ms;


}

.steps .circle.active{
  transition-delay: 100ms;
  background-color: #C3E3CC;
  border-color: #C3E3CC;
  color: #308747;
}

.container .steps{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form-step{
  display: none;
}

.steps .progress-bar{
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e0e0e0;
   z-index: -1;
}

.progress-bar .indicator{
  position: absolute;
  height: 100%;
  width: 0%;
  background: #C3E3CC ;
  transition: all 300ms ease;
}

.hidden-radio{
  display: none;
}

.button-check{
  color: #308747;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;
  transition: 3ms;
}

.button-check:hover{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.hidden-radio:checked + .button-check{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;

}
.button-check-error{
  border: solid 1px;
  border-color: #F0343C;
  color: #308747;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.button-check-error:hover{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.hidden-radio:checked + .button-check-error{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;

}

.navbar .nav-item .nav-link .active .green {
  background-color: #C3E3CC; /* Change this to the desired color code */
}

.btn-group.dropstart .dropdown-toggle::before {
  display: none;
  visibility: hidden;
    width: 0;
    margin-left: 0;
  
}

.menu {
  list-style: none;
  padding: 10px;
  display: flex;
  overflow-y: auto;
  white-space: nowrap;
  margin: 0; /* Réinitialisez la marge si nécessaire */
}

.menu li {
  margin-right: 10px; /* Ajoutez une marge entre chaque élément de la liste */
}

.menu-container{
  overflow: hidden;
}

.button-carrousel{
   border: solid;
   border-radius: 50%;
   color: black;
   height: 50px;
   width: 50px;
   background-color: #fff;
}

.button-carrousel:hover{
  border: solid;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
  background-color: black;
}
 
.scrolling-wrapper::-webkit-scrollbar{
  display: none;
}

.menu::-webkit-scrollbar{
  display: none;
}
@media(max-width:992px) {
  .card-size{
    width: 13rem; 
    height:20rem;
  }  
}

@media (min-width:992px) {
  .card-size{
    width: 16rem; 
    height:20rem;
  }
}

.clickable-result:hover{
  background-color: #999;
  height: 100%;
  border-radius: 10px;
  padding: auto;
}