.active-link
{
    background-color: #308747;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.active-link:hover
{
    color: white;
}

.non-active{
    color: #308747;
    text-decoration: none;
    transition: 0.3ms;
    border:solid;
    border-width: 1px;
}

.non-active:hover{
    background-color: #308747;
    color: white;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .color-svg{
    color: #308747;
  }
  .rotation{
    transform: rotate(-45deg);
  }
  .tools-event{
    background: rgba(255, 255, 255, 0.54); 
    width: 50px;
    height: 50px;
  }
  .badge-tool{
    background: rgba(255, 255, 255); 
    width: 50px;
    height: 50px;
  }

  .card {
    position: relative;
}

.gradient-overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    pointer-events: none; /* Allows interaction with elements behind the overlay */
}

.card-header,
.card-body,
.card-footer {
    position: relative;
    z-index: 2;
}
