:root{
  --bs-body-font-family:'inter',sans-serif
}
.active-link
{
    background-color: #308747;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border:solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 30px;
}
.active-link:hover
{
    color: white;
}

.low-padding{
  width: 15rem;
}
.non-active{
    color: #308747;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3ms;
    border:solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 30px;
}

.non-active:hover{
    background-color: #308747;
    color: white;
}

.unchecked-step{
  color: #fff;
  background-color: #F0343C;
  text-decoration: none;
  transition: 0.3ms;
  border:solid;
  border-width: 1px;
}

.unchecked-step:hover{
  color: #fff;
  background-color: #F0343C;
  text-decoration: none;
  transition: 0.3ms;
  border:solid;
  border-width: 1px;
}

.checked-step{
  background: #C3E3CC;
  color: #308747;
}
.checked-step:hover{
  background: #C3E3CC;
  color: #308747;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .color-svg{
    color: #308747;
  }
  .rotation{
    transform: rotate(-45deg);
  }
  .tools-event{
    background: rgba(255, 255, 255, 0.54); 
    width: 50px;
    height: 50px;
  }
  .badge-tool{
    background: rgba(255, 255, 255); 
    width: 50px;
    height: 50px;
  }

  .card {
    position: relative;
}

.gradient-overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    pointer-events: none; /* Allows interaction with elements behind the overlay */
}

.card-header,
.card-body,
.card-footer {
    position: relative;
    z-index: 2;
}
.custum-file-upload {
    position: relative;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Pour masquer le contenu dépassant */

    /* Ajout d'une classe pour l'overlay noir transparent */
    background: url('') center center no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.custum-file-upload:hover {
  position: relative;
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Pour masquer le contenu dépassant */

  /* Ajout d'une classe pour l'overlay noir transparent */
  background: url('') center center no-repeat;
  background-size: cover;
}
/* Nouvelle classe pour l'overlay */
.custum-file-upload::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Noir transparent */
    z-index: 1; /* Pour placer l'overlay au-dessus du contenu */
}

.custum-file-upload .icon {
    position: relative; /* Pour définir le contexte d'empilement pour l'icône */
    z-index: 2; /* Pour placer l'icône au-dessus de l'overlay */
}

.custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(255, 255, 255, 1);
}

.custum-file-upload .text {
    position: absolute;
    top: 20px; /* Ajuster la position du texte par rapport au haut */
    z-index: 2; /* Pour placer le contenu au-dessus de l'overlay */

}
.custum-file-upload .text .edit-text {
  display: block;
  font-size: 12px;
  color: #666;
}

.custum-file-upload .text span {
    font-weight: 400;
    color: rgba(255, 255, 255, 1); /* Couleur blanche pour le texte */
}

.custum-file-upload input {
    display: none;
}


/* .custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #fff;
  color: #000;
  padding: 10px;
  cursor: pointer;
}
.custom-file-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
} */

.steps{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between	;
}

.checking-step{
  background-color: #FBAA0A;
  border: #FBAA0A;
  color: #fff;
}
.checking-step:hover{
  background-color: #FBAA0A;
  border: #FBAA0A;
  color: #fff;
}
.steps .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 250px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border: 4px solid #e0e0e0;
  border-radius: 20px;
  background: #fff;
  position: relative;
  transition: all 200ms ease;
  transition-delay: 0ms;


}

.steps .circle.active{
  transition-delay: 100ms;
  background-color: #C3E3CC;
  border-color: #C3E3CC;
  color: #308747;
}

.container .steps{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.form-step{
  display: none;
}

.steps .progress-bar{
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e0e0e0;
   z-index: -1;
}

.progress-bar .indicator{
  position: absolute;
  height: 100%;
  width: 0%;
  background: #C3E3CC ;
  transition: all 300ms ease;
}

.hidden-radio{
  display: none;
}

.button-check{
  color: #308747;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;
  transition: 3ms;
}

.button-check:hover{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.hidden-radio:checked + .button-check{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;

}
.button-check-error{
  border: solid 1px;
  border-color: #F0343C;
  color: #308747;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.button-check-error:hover{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.hidden-radio:checked + .button-check-error{
  background-color: #308747;
  color: #fff;
  border: solid 1px;
  border-radius: 5px;
  border-color: #308747;
  padding: 10px;
  align-items: center;

}

.nav-pills .nav-link.active{
  background-color: #C3E3CC; 
}

.active-profil{
  border: solid #C3E3CC 5px;
  border-radius: 50%;
  display: inline-block;
  padding: 3px;
}

.btn-group.dropstart .dropdown-toggle::before {
  display: none;
  visibility: hidden;
  width: 0;
  margin-left: 0;
  
}

.menu {
  list-style: none;
  padding: 10px;
  display: flex;
  overflow-y: auto;
  white-space: nowrap;
  margin: 0; /* Réinitialisez la marge si nécessaire */
}

.menu li {
  margin-right: 10px; /* Ajoutez une marge entre chaque élément de la liste */
}

.menu-container{
  overflow: hidden;
}

.button-carrousel{
   border: solid;
   border-radius: 50%;
   color: black;
   height: 50px;
   width: 50px;
   background-color: #fff;
}

.button-carrousel:hover{
  border: solid;
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
  background-color: black;
}
 
.scrolling-wrapper::-webkit-scrollbar{
  display: none;
}

.menu::-webkit-scrollbar{
  display: none;
}
@media(max-width:992px) {
  .card-size{
    width: 13rem; 
    height:20rem;
  }  
}

@media (min-width:992px) {
  .card-size{
    width: 16rem; 
    height:20rem;
  }
}

.clickable-result:hover{
  background-color: #999;
  height: 100%;
  border-radius: 10px;
  padding: auto;
}

.check-color{
  background-color: #308747;
  color:white;
  border-radius: 50%;
}

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
  
  .check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4CAF50;
      
      &::before {
          top: 3px;
          left: -2px;
          width: 30px;
          transform-origin: 100% 50%;
          border-radius: 100px 0 0 100px;
      }
      
      &::after {
          top: 0;
          left: 30px;
          width: 60px;
          transform-origin: 0 50%;
          border-radius: 0 100px 100px 0;
          animation: rotate-circle 4.25s ease-in;
      }
      
      &::before, &::after {
          content: '';
          height: 100px;
          position: absolute;
          background: #FFFFFF;
          transform: rotate(-45deg);
      }
      
      .icon-line {
          height: 5px;
          background-color: #4CAF50;
          display: block;
          border-radius: 2px;
          position: absolute;
          z-index: 10;
          
          &.line-tip {
              top: 46px;
              left: 14px;
              width: 25px;
              transform: rotate(45deg);
              animation: icon-line-tip 0.75s;
          }
          
          &.line-long {
              top: 38px;
              right: 8px;
              width: 47px;
              transform: rotate(-45deg);
              animation: icon-line-long 0.75s;
          }
      }
      
      .icon-circle {
          top: -4px;
          left: -4px;
          z-index: 10;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          position: absolute;
          box-sizing: content-box;
          border: 4px solid rgba(76, 175, 80, .5);
      }
      
      .icon-fix {
          top: 8px;
          width: 5px;
          left: 26px;
          z-index: 1;
          height: 85px;
          position: absolute;
          transform: rotate(-45deg);
          background-color: #FFFFFF;
      }
  }
}

@keyframes rotate-circle {
  0% {
      transform: rotate(-45deg);
  }
  5% {
      transform: rotate(-45deg);
  }
  12% {
      transform: rotate(-405deg);
  }
  100% {
      transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  54% {
      width: 0;
      left: 1px;
      top: 19px;
  }
  70% {
      width: 50px;
      left: -8px;
      top: 37px;
  }
  84% {
      width: 17px;
      left: 21px;
      top: 48px;
  }
  100% {
      width: 25px;
      left: 14px;
      top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  65% {
      width: 0;
      right: 46px;
      top: 54px;
  }
  84% {
      width: 55px;
      right: 0px;
      top: 35px;
  }
  100% {
      width: 47px;
      right: 8px;
      top: 38px;
  }
}



.circle-error,
.circle-border-error {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.circle-error {
  z-index: 1;
  position: relative;
  background: white;
  transform: scale(1);
  animation: success-anim 700ms ease;
}

.circle-border-error {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
  background: #f86;	
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}

.invalid-error::before,
.invalid-error::after {
  content: "";
  display: block;
  height: 4px;
  background: #f86;
  position: absolute;
}

.invalid-error::before {
  width: 40px;
  top: 48%;
  left: 16%;
  transform: rotateZ(50deg);
}

.invalid-error::after {
  width: 40px;
  top: 48%;
  left: 16%;
  transform: rotateZ(-50deg);
}

.f-modal-alert .f-modal-icon {
	border-radius: 50%;
	border: 4px solid gray;
	box-sizing: content-box;
	height: 80px;
	margin: 20px auto;
	padding: 0;
	position: relative;
	width: 80px;
  &.f-modal-warning {
		border-color: #F8BB86;
		
		&:before {
			animation: pulseWarning 2s linear infinite;
			background-color: #fff;
			border-radius: 50%;
			content: "";
			display: inline-block;
			height: 100%;
			opacity: 0;
			position: absolute;
			width: 100%;
		}
		
		&:after {
			background-color: #fff;
			border-radius: 50%;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
	}

	&.f-modal-warning .f-modal-body {
		background-color: #F8BB86;
		border-radius: 2px;
		height: 47px;
		left: 50%;
		margin-left: -2px;
		position: absolute;
		top: 10px;
		width: 5px;
		z-index: 2;
	}

	&.f-modal-warning .f-modal-dot {
		background-color: #F8BB86;
		border-radius: 50%;
		bottom: 10px;
		height: 7px;
		left: 50%;
		margin-left: -3px;
		position: absolute;
		width: 7px;
		z-index: 2;
	}
	
	+ .f-modal-icon {
		margin-top: 50px;
	}
}

.pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
}

@keyframes pulseWarning {
	0% {
		background-color: #fff;
		transform: scale(1);
		opacity: 0.5;
	}

	30% {
		background-color: #fff;
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		background-color: #F8BB86;
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486;
    }

    100% {
        background-color: #F8BB86;
    }
}

.eventToVerify:hover{
  background-color: #C3E3CC;
  border-color: #308747;
}

.active-filter{
  background-color: #308747;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.active-filter:hover{
  background-color: #308747;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.non-active-filter{
  background-color: #666;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: auto;
}

.non-active-filter:hover{
  background-color: #308747;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: auto;
}

input::placeholder{
  font-style: italic;
}

#html5-qrcode-button-camera-permission{
  background-color: #308747;
  border-width: 0px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

#html5-qrcode-button-camera-permission:hover{
  background-color: #3a804c;
  border-width: 0px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;

}

#html5-qrcode-anchor-scan-type-change {
  text-decoration: none !important; /* Supprime le soulignement */
  border: solid ;
  border-color: #308747;
  border-width: 2px;
  padding: 8px;
  border-radius: 20px;
  color: #308747 ;
}

#html5-qrcode-anchor-scan-type-change:hover {
  text-decoration: none !important; /* Supprime le soulignement */
  border: solid ;
  border-color: #308747;
  border-width: 2px;
  padding: 8px;
  border-radius: 20px;
  color: white  ;
  background-color: #308747;
}

#html5-qrcode-button-file-selection{
  background-color: #308747;
  border-width: 0px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
 
}

#html5-qrcode-button-file-selection:hover{
  background-color: #3a804c;
  border-width: 0px;
  padding: 8px;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}