.active-link
{
    background-color: #308747;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.active-link:hover
{
    color: white;
}

.non-active{
    color: #308747;
    text-decoration: none;
    transition: 0.3ms;
    border:solid;
    border-width: 1px;
}

.non-active:hover{
    background-color: #308747;
    color: white;
}

.unchecked-step{
  color: #308747;
  text-decoration: none;
  transition: 0.3ms;
  border:solid;
  border-width: 1px;
}

.unchecked-step:hover{
  color: #308747;
  text-decoration: none;
  transition: 0.3ms;
  border:solid;
  border-width: 1px;
}

.checked-step{
  background: #C3E3CC;
  color: #308747;
}
.checked-step:hover{
  background: #C3E3CC;
  color: #308747;
}

.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
  }

  .color-svg{
    color: #308747;
  }
  .rotation{
    transform: rotate(-45deg);
  }
  .tools-event{
    background: rgba(255, 255, 255, 0.54); 
    width: 50px;
    height: 50px;
  }
  .badge-tool{
    background: rgba(255, 255, 255); 
    width: 50px;
    height: 50px;
  }

  .card {
    position: relative;
}

.gradient-overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    pointer-events: none; /* Allows interaction with elements behind the overlay */
}

.card-header,
.card-body,
.card-footer {
    position: relative;
    z-index: 2;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #fff;
  color: #000;
  padding: 10px;
  cursor: pointer;
}
.custom-file-label:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.steps{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between	;
}

.steps .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #999;
  font-size: 22px;
  font-weight: 500;
  border: 4px solid #e0e0e0;
  border-radius: 50%;
  background: #fff;
  position: relative;
  transition: all 200ms ease;
  transition-delay: 0ms;


}

.steps .circle.active{
  transition-delay: 100ms;
  border-color: #4070f4;
  color: #4070f4;
}

.container .steps{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.steps .progress-bar{
  position: absolute;
  height: 4px;
  width: 100%;
  background: #e0e0e0;
   z-index: -1;
}

.progress-bar .indicator{
  position: absolute;
  height: 100%;
  width: 0%;
  background: #4070f4 ;
  transition: all 300ms ease;
}

